In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
path='XY_train (2).csv'

data=pd.read_csv(path)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
print(data)

       enrollee_id      city  city_development_index gender      relevent_experience enrolled_university education_level major_discipline experience company_size         company_type last_new_job  training_hours  target
0            13163   city_16                   0.910    NaN   No relevent experience       no_enrollment     High School              NaN          2          NaN                  NaN        never              16       1
1             9357  city_136                   0.897   Male  Has relevent experience       no_enrollment         Masters             STEM          6    1000-4999              Pvt Ltd            1             262       0
2              604   city_16                   0.910   Male   No relevent experience                 NaN             NaN              NaN          3          NaN                  NaN        never              24       0
3            19033   city_16                   0.910   Male   No relevent experience       no_enrollment     High School              NaN          3          NaN                  NaN            1              35       0
4             4825  city_145                   0.555   Male  Has relevent experience    Full time course        Graduate             STEM          4          NaN                  NaN            1              43       1
...            ...       ...                     ...    ...                      ...                 ...             ...              ...        ...          ...                  ...          ...             ...     ...
15321         5471  city_103                   0.920    NaN   No relevent experience       no_enrollment        Graduate             STEM        >20          NaN                  NaN           >4              25       1
15322         4815   city_57                   0.866   Male   No relevent experience    Full time course     High School              NaN          4          NaN                  NaN        never             122       0
15323        25935   city_36                   0.893   Male  Has relevent experience       no_enrollment         Masters             STEM         10       Oct-49  Early Stage Startup            2              57       1
15324         6525   city_21                   0.624    NaN   No relevent experience    Full time course        Graduate             STEM          5          NaN                  NaN        never              16       0
15325         3366   city_57                   0.866   Male  Has relevent experience       no_enrollment         Masters             STEM        >20      100-500              Pvt Ltd           >4              50       0

[15326 rows x 14 columns]

In [2]:
print(data.drop_duplicates().shape)

(15326, 14)

In [ ]:
data.isna().sum()

In [ ]:
# Transform experience to floats and fill nan with the median.
replacement_dct = {'>20':'25','<1':'0'}
data['experience'] =data['experience'].replace(replacement_dct).astype('float64')
# Calculate median
exp_median = np.median(data['experience'].dropna().values)

# Change nan values to calculated median
data['experience'] = data['experience'].fillna(exp_median)

In [ ]:


processed_data = processed_data.dropna(thresh=12, axis=0)

In [ ]:
processed_data.isna().sum()